.blocImagerie {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 3rem;
  padding: 2rem 5rem;
  background-color: #f3f5f8;
}

.blocImagerie .imageBackground {
  background-image: url("../../../assets//images/doctor.png");
  background-size: cover;
  object-fit: cover;
}

.blocImagerie .textBackground {
  
  display: grid;
  gap: 1rem;
 
}

.blocImagerie .textBackground .bigTitle {
  font-size: 2rem;
  font-weight: 700;
}

.blocImagerie .textBackground .missionItems ul li {
margin: 1rem;
}