
.businessMain {
    background-color: white;
}

.businessToolBar {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 20px 40px;
}

.businessToolBar a {

    text-decoration: none;
}

.businessContent {
    display: flex;
    justify-content: center;
    align-items: center;
}



.businessContent .businessText p {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    background: -webkit-linear-gradient(#000000, #0b6cc7d0, black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 940px) {
    .businessContent .businessImg  img{
        width: 100%;
        height: 200px;
    }

    .businessContent .businessText  p{
       font-size: larger;
       text-align: center;
    }
}

@media (max-width: 745px) {
    .businessContent {
        display: grid;
        grid-template-columns: repeat(1, 100%) !important;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .businessMain {
        background-color: white;
        padding: 0;
    }
}