.adresseMain {
    background-color: white;
    width: 90%;
    margin: 10px auto;
    padding: 1.5rem;
    height: max-content;
}

.adresseToolBar {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
}

.adresseToolBar a {

    text-decoration: none;
}

.adresseTitle {
    font-size: 1.5rem;
    font-weight: 500;
}

.bloc1 {
    height: max-content;
    border: 1px solid #e4e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10px;
    margin-top: 1rem;
}

.bloc1 .rowSpan span {
    margin: 2px;
}

.bloc1 .adresseSearch {
    width: 60%;
}

.bloc1 .adresseSearch input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #e4e3e3;
}

@media (max-width: 700px) {

    .adresseMain {
        background-color: white;
        width: 95%;
    }


    .bloc1 {
        height: max-content;
        border: 1px solid #e4e3e3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 10px;
        margin-top: 1rem;
    }

    .table thead {
        display: none;
    }

    .commandesMain .table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}

@media (max-width: 600px) {
    .bloc1 {
        height: max-content;
        border: 1px solid #e4e3e3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .bloc1 .adresseSearch {
        width: 100%;
    }
}