.commandesMain {
    padding: 1rem 2rem;
    width: 100%;
}

.commandesMain .content {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.commandesMain .content .commandeToolBar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.commandesMain .content .commandeToolBar a,
.commandesMain .content .commandeToolBar span {
    font-size: 13.5px;
    color: #fff;
    text-decoration: none;
}

.commandesMain .content tr:hover {
    cursor: pointer;
    background-color: #eee;
}

.commandesMain .taable{
    overflow-x: auto;
}

.commandesMain .content td,
.commandesMain .content th {
    font-size: 13.5px;
    font-family: "Open Sans";
}

.commandesMain .content thead {
    background-color: #eee;
}

.commandesMain .content tr:last-child{
    border-bottom: 1px solid #ddd;
}