.equipeMain {
   
    padding: 2rem 5rem ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}

.equipeFirstText{
    font-size: 2rem;
    font-weight: 700;
}

.membreDetail{
    display: flex;
    justify-content: center;
    gap: 2rem;    
   
}

.equipePhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;    
}

.equipePhoto .photoContent {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: lightblue;  
}

.equipePhoto .photoContent img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.equipePhoto  .equipeNom{
    font-weight: 600;
    margin-top: 10px;
}

.equipePhoto .equipeTitle{
    font-size: 15px;
}

.equipePhoto .equipeTitle a {
    text-decoration: none !important;
    color: black !important;
}
