.acceuil {
   
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    background-color: #ddd;
}

.acceuil .col1 {
    width: 45%;
    height: 500px;
}

.acceuil .col1 img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.acceuil .col2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 64%;
}

.acceuil .col2 .title {
    font-size: 3rem;
    font-weight: bold;
    color: #106e9f;
}

.acceuil .col2 .button {
    width: 30%;
    border: 1px solid #ee4540;
    background-color: #ee4540;
    color: #fff;
    border-radius: 25px;
    padding: 1rem !important;
}