.acceuil {
  padding: 2rem 5rem;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-top: 80px;
}

.acceuil h2 {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 50%;
  line-height: 3.5rem;
}

.acceuil .description {
  color: #fff;
  font-family: "Alegreya";
  width: 50%;
  z-index: 1;
  font-size: 1.4rem
}

.acceuil .btns {
  display: flex;
  gap: 1rem;
}

.acceuil .btns button:first-child {
  border: 1px solid #f3f5f8;
  background-color: #f3f5f8;
  color: #0b6cc7d0;
  font-weight: 600;
  z-index: 1;
  border-radius: 5px;
 padding: 0.8rem;
}

.acceuil .btns button:last-child {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    z-index: 1;
    border-radius: 5px;
   padding: 0.8rem;
  }
  
