.socialMain {
  background-color: transparent;
  padding: 0.5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.socialMain.active {
  background-color: #222;
}

.socialMain .streetAdress {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socialMain .streetAdress span {
  color: #fff;
  z-index: 1;
}

.socialMain .rxSocial {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socialMain .rxSocial .iconsRx {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;
}
.socialMain .rxSocial .iconsRx svg {
  color: #fff;
}

.socialMain .rxSocial span,
.socialMain .rxSocial .searchIcon {
  height: 100%;
  color: #fff;
  z-index: 1;
}
