.blocImagerie {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 30rem;
  padding: 2rem 5rem;
  background-color: #f3f5f8;
}

.blocImagerie .imageBackground {
  background-image: url("../../../assets//images/doctor.png");
  background-size: cover;
  object-fit: cover;
}

.blocImagerie .textBackground {
  background-color: lightblue;
  display: grid;
  gap: 1rem;
  padding: 4rem 7rem;
}

.blocImagerie .textBackground .bigTitle {
  font-size: 2rem;
  font-weight: bold;
}
