.specialite {
  background-color: #fff;
  padding: 2rem 5rem;
}

.specialite .title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.specialite .card {
  margin-bottom: 2rem;
  border: 0;
}

.specialite .card .contentImage {
  height: 200px;
  position: relative;
  border-radius: 8px;
  margin-bottom: 1rem;
  width: 299px;
}

.specialite .card .contentImage img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.specialite .card .overPlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 8px;
}

.specialite .prix {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.4rem;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
  color: #fff;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  font-weight: 700;
}

.specialite .card .desc {
  font-family: "Alegreya";
}

.specialite .date {
  font-family: "Alegreya";
}

.specialite .itemsPag {
  display: flex;
}

.specialite .buttonShowMore {
  text-align: center;
  background-color: transparent;
  border: 1px solid silver;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  border-radius: 3px;
}

.specialite .contentBtnMore {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 1rem;
}

.specialite .btnInscrire {
  width: 230px;
  border-radius: 20px;
  background-color: #f3f5f8;
  border: 1px solid silver;
  padding: 0.3rem;
}

.specialite .containerBtnInscrire {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 299px;
}

.specialite  .div {
  width: 299px;
  padding: .4rem;
  display: flex;
  align-items: center;
  background-color: #f3f5f8;
  justify-content: center;
  color: #000;
  margin-top: 1rem;
}
