@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Antic+Slab&family=Jaldi&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yatra+One&display=swap");

:root {
  --main-bg-color: #efefef;
  --color-bg-hiht: #0b6cc7d0;
  --color-bg-light: #6690b8d0;
  --color-secondary: #ba9226;
  --color-white: #fff;
  --font-size: 14px;
  --border-color: #ddd;
  --bg-footer: #0b3257fb;
  --color-text-secondary: #b91120;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Alegreya Sans SC", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}