.contactMain {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blocTextContact {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
}

.blocTextContact h1 {
    font-weight: bold;
}

.blocTextContact p {
    font-size: larger;
}

.blocContact {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.blocContact .byPhone {
    background-color: #fafafa;
    border: 1px solid silver;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    cursor: pointer;
    border-right: 0;
}

.blocContact .byPhone:nth-child(3) {
    border-right: 1px solid #ddd;
}

.blocFormContact {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.blocBtnSubmit {
    text-align: center;
}

.blocBtnSubmit button {
    border: none;
    background-color: #0b6cc7d0;
    color: white;
    padding: 10px 8rem;
    border-radius: 10px;
}

@media (max-width: 600px) {

    .blocContact {
        grid-template-columns: repeat(1, 100%);
    }

    .blocContact .byPhone {
        background-color: #fafafa;
        border: 1px solid silver;
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%
    }

}